body{
    background-image:url("img/alap.jpg");
    
}
div{
    width: 900px;
    margin: 0 auto;
    padding: 12px;

}
.right{
    text-align: right;
}
.gender{
    width: 100px;

}
ul{
    width: auto;
}